.now-playing {
  background-color: #444;
  width: 400px;
  border-radius: 10px;
  margin-top: 25px;
  text-align: center;
  height: 400px;
  padding: 0 10px;
}

.now-playing__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -20px;
}

.now-playing__logo {
  width: 40px;
}

.now-playing__title {
  font-weight: 400;
  font-size: 18px;
  margin: 5px 0 15px 0;
}

.now-playing__cover-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.now-playing__song-cover {
  max-width: 180px;
  border-radius: 5px;
}

.now-playing__status {
  width: 35px;
  filter: invert(100%) sepia(16%) saturate(2%) hue-rotate(334deg)
    brightness(112%) contrast(101%);
}

.now-playing__song-title {
  font-weight: 600;
  font-size: 20px;
  margin: 15px 0 0 0;
}

.now-playing__song-artist {
  font-weight: 400;
  font-size: 16px;
  margin: 5px 0 0 0;
}

.now-playing__song-album {
  font-weight: 400;
  font-size: 14px;
  margin: 5px 0;
}

.now-playing__link:active,
.now-playing__link:hover,
.now-playing__link:visited {
  color: #bbb;
}
