@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;

  background-color: #242424;
  color: #ddd;
}

#root {
  display: flex;
  justify-content: center;
}
